<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- conditional rendering -->
    {{#if isAuthenticated}}
        <h1>Welcome {{ name }}</h1>
        <p>Welcome to the {{{ bootcamp }}} bootcamp</p>
    {{else}}
        <p>You are not authorised</p>
    {{/if}}
    {{#if address}}
       Address: <p>{{ address }}</p>
    {{/if}}
    <ul>
        {{#each cities}}
            <li>{{this}}</li>
{{!-- this represents each item of the array --}}
        {{/each}}
    </ul>
</body>
</html>